{
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"parser": "babel-eslint",
	"sourceType": "module",
	"extends": [
		"airbnb",
		"plugin:react/recommended"
	],
	"plugins": [
		"babel",
		"flowtype",
		"flowtype-errors",
		"import",
		"jsx-a11y",
		"react",
		"flowtype"
	],
	"rules": {
		"indent": [
			1,
			"tab",
			{
				"VariableDeclarator": {
					"var": 2,
					"let": 2,
					"const": 3
				}
			}
		],
		"arrow-body-style": 0,
		"arrow-parens": [
			2,
			"always",
			{
				"requireForBlockBody": false
			}
		],
		"brace-style": [
			"error",
			"1tbs",
			{
				"allowSingleLine": true
			}
		],
		"class-methods-use-this": 1,
		"eol-last": 2,
		"func-names": 0,
		"max-len": [
			"warn",
			80,
			2,
			{
				"ignoreUrls": true,
				"ignorePattern": "['\"]",
				"ignoreComments": true,
				"ignoreTrailingComments": true
			}
		],
		"no-mixed-spaces-and-tabs": [
			"error",
			"smart-tabs"
		],
		"no-multi-spaces": [
			"error",
			{
				"exceptions": {
					"ImportDeclaration": true,
					"VariableDeclarator": true
				}
			}
		],
		"no-multiple-empty-lines": "off",
		"no-plusplus": 0,
		"no-tabs": 0,
		"no-trailing-spaces": [
			"error",
			{
				"skipBlankLines": true
			}
		],
		"no-unused-vars": [
			"warn",
			{
				"vars": "local",
				"args": "after-used"
			}
		],
		"prefer-arrow-callback": 0,
		"spaced-comment": 0,
		// __________________________________________________________________ import
		"import/extensions": "off",
		"import/no-absolute-path": "off",
		"import/no-extraneous-dependencies": "off",
		// ________________________________________________________________ jsx-a11y
		"jsx-a11y/no-static-element-interactions": "off",
		"jsx-a11y/label-has-for": "off",
		// ___________________________________________________________________ react
		"react/jsx-closing-bracket-location": [
			1,
			"line-aligned"
		],
		"react/jsx-equals-spacing": 1,
		"react/jsx-indent": [
			2,
			"tab"
		],
		"react/jsx-indent-props": [
			"off",
			"tab"
		],
		"react/jsx-no-bind": [
			"off",
			{
				"allowBind": true
			}
		],
		"react/jsx-uses-react": 1,
		"react/no-array-index-key": "warn",
		"react/no-string-refs": "warn",
		"react/no-unused-prop-types": "off",
		"react/prop-types": [
			0
		],
		"react/require-default-props": "warn",
		"react/sort-comp": [
			1,
			{
				"order": [
					"type-annotations",
					"static-methods",
					"lifecycle",
					"rendering",
					"/^on.+$/",
					"everything-else"
				],
				"groups": {
					"rendering": [
						"/^render.+$/",
						"render"
					]
				}
			}
		]
	}
}
